-e git+https://github.com/cloudify-cosmo/cloudify-rest-client@master#egg=cloudify-rest-client==3.1a1
-e git+https://github.com/cloudify-cosmo/cloudify-plugins-common@CFY-1133-importable-ctx#egg=cloudify-plugins-common==3.1a1
