mock>=1.0.1
testtools==2.3.0
pytest
pytest-cov
pytest-xdist==1.34.0
testfixtures==6.18.0
coverage==4.5.1 # coverage - This is done because of coverage pyhotn package bug, https://github.com/nedbat/coveragepy/issues/716
decorator==4.4.2
